.checkBoxContainer
{
    display: block;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 2vw;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.checkBoxContainer input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 2vw;
    width: 2vw;
    background-color: #eee;
}

.checkBoxContainer:hover input ~ .checkmark
{
    background-color: #ccc;
}

.checkBoxContainer input:checked ~ .checkmark
{
    background-color: #2196F3;
}

.checkmark:after
{
    content: "";
    position: absolute;
    display: none;
}

.checkBoxContainer input:checked ~ .checkmark:after
{
    display: block;
}

.checkBoxContainer .checkmark:after
{
    left: 0.5vw;
    top: 0.5vw;
    width: 0.7vw;
    height: 0.7vw;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
